* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  bbackground-color: #f7ede2;
  /*background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;*/
}


/*Nav Section*/

.navbar-nav a {
  color: yellow;
}

div .navbar-nav a:hover {
  font-weight:  500;
  color: #C56824 !important;
  
}

.navbar-brand h2 {
  font-size:  30px;
  font-family: ;
}

/*About Section*/

.navbar {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-toggler{
  background-color: gray;
}




.display-1 {
  font-size: 50px;
  font-weight: 800;
  
}



.col-sm-6 h6 {
 	font-weight: 500;
 	color: orange;
}


/*Portfolio*/
.position-relative img {
  
  padding: 10px;
}

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

i {
  top: 2px;
  left: -35px;
  font-size: 22px;
}

.education {
  color: brown  !important;
}

form, .form-control {
  border:  2px solid black;
}

iframe {
  width: 100%;
  height:  100%;
}

/*Small Devices*/

@media (min-width: 576px) {
  body {
  background-color: #f7ede2;

}

}

/*Medium Devices*/

@media (min-width: 768px) {
  body {
  background-color: #f7ede2;
}


}

/*Large Devices*/

@media (min-width: 992px) {
  body {
  background-color: #f7ede2;
}
}
